<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.fullandroidcourseclassa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dsc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dsc"
        android:supportsRtl="true"
        android:theme="@style/Theme.FullAndroidCourseClassA">
        <activity android:name=".ShoppingActivity"></activity>
        <activity android:name=".ui.SplashScreen" />
        <activity android:name=".ui.OnboardingScreens" />
        <activity android:name=".ui.BroadcastReceiverExample" />
        <activity android:name=".ui.NotificationExample" /> <!-- <activity android:name=".OurEvents" /> -->
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.RegistrationActivity" />
        <activity android:name=".ui.LoginActivity" /> <!-- <activity android:name=".TodoListExample" /> -->
        <!-- <activity android:name=".MainActivity" /> -->
        <!-- <activity android:name=".ResturantMenu" /> -->
        <!-- <activity android:name=".ImageViewExample" /> -->
        <!-- <activity android:name=".Calculator" /> -->
        <!-- <activity android:name=".Counter" /> -->
        <activity android:name=".ui.CoroutineExamples">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>